:root {
	--pink: hsl(322, 100%, 66%);

	--very-pale-cyan: hsl(193, 100%, 96%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--grayish-blue: hsl(208, 11%, 55%);

	--white: hsl(0, 0%, 100%);

	--default-transition: 0.3s ease-in-out;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: var(--main-font-color);
}
